
#define RQT_BORDER_COLOR                    rgb(48, 54, 61)
#define RQT_BORDER_STYLE                    1px solid RQT_BORDER_COLOR

#define RQT_DEFAULT_BACKGROUND_COLOR        rgb(22, 27, 34)
#define RQT_INPUT_BACKGROUND_COLOR          rgb(1, 4, 9)
#define RQT_DISABLED_INPUT_BACKGROUND_COLOR rgb(10, 14, 20)
#define RQT_ACTIVE_BACKGROUND_COLOR         rgb(33, 38, 45)
#define RQT_HOVER_BACKGROUND_COLOR          rgb(31, 111, 235)
#define RQT_SELECTED_BACKGROUND_COLOR       rgb(48, 54, 61)
#define RQT_RENDER_BACKGROUND_COLOR         rgb(13, 17, 23)

#define RQT_DEFAULT_TEXT_COLOR              rgb(230, 237, 243)
#define RQT_DISABLED_TEXT_COLOR             rgb(110, 118, 129)
#define RQT_INFO_TEXT_COLOR                 rgb(139, 148, 158)
#define RQT_HOVER_TEXT_COLOR                rgb(255, 255, 255)
#define RQT_SELECTED_TEXT_COLOR             rgb(230, 237, 243)

#ifdef _WIN32
	#define FIXED_WIDTH_FONT_FAMILY         "Consolas"
#endif
#ifdef __APPLE__
	#define FIXED_WIDTH_FONT_FAMILY         "Monaco"
#endif
#ifdef __linux__
	#define FIXED_WIDTH_FONT_FAMILY         "Courier New"
#endif

